*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body{
  font-family: monospace;
  background-color: rgb(25, 25, 39);
  color: rgb(176, 176, 176);
}

section{
  margin: 1em;
}

button{
  padding: 5px;
  background-color: transparent;
  color: gray;
  border-radius: 5px;
  min-width: 5em;
  border: none;
  background-color: rgb(52, 52, 52);
  font-size: 1.3em;
  font-weight: 600;
}

/* HEADER */
header{
  padding: 1em;
  justify-content: space-between;
  background-color: rgb(39, 39, 61);
  border-bottom: 1px solid gainsboro;
}

.logo{
  font-size: 2em;
  font-weight: 800;
}

/* FILTER SECTION */
.filter-btns-container{
  display: flex;
  flex-direction: row;
  gap: 2em;
}

.search-filterBtn-section{
  display: flex;
  justify-content: space-between;
  padding: 2em 0em;
}

.saerch-bar-container{
  display: flex;
  flex-direction: row;
  gap: 1em;
  align-items: center;
}

.searchInput{
  padding: 9px;
  border: 1px solid gainsboro;
  border-radius: 5px;
  background-color: transparent;
  min-width: 25em;
}

/* EXTENSIONS SECTION */
.extension-section{
  margin-top: 4em;
}

.extension-section h1{
  margin-bottom: 1em;
}

.extension-container{
  display: grid;
  grid-template-columns:  repeat(3 ,1fr);
  gap: 2em;

}
.extension-card{
  padding: 1em;
  border: 1px solid gainsboro;
  border-radius: 10px;
  background-color: rgb(39, 39, 61);
  min-height: 13em;
  /* max-width: 500px; */
}

@media(max-width:800px){
.extension-container{
  grid-template-columns:  repeat(2, 1fr);
}
}

@media(max-width:600px){
.extension-container{
  grid-template-columns:  repeat(1, 1fr);
}
}